{% include base_path %}

{% if page.member and site.data.members[page.member] %}
  {% assign member = site.data.members[page.member] %}{% else %}{% assign member = site.member %}
{% endif %}

<div itemscope itemtype="https://schema.org/Person">

  <div class="member__avatar">
    {% if member.avatar contains "://" %}
    	<img src="{{ member.avatar }}" alt="{{ member.name }} - {{ member.role }}">
    {% else %}
    	<img src="{{ member.avatar | prepend: "/images/" | prepend: base_path }}" class="member__avatar" alt="{{ member.name }} - {{ member.role }}">
    {% endif %}
  </div>

  <div class="member__content">
    <h3 class="member__name">{{ member.name }}</h3>
    {% if member.bio %}<p class="member__bio">{{ member.bio }}</p>{% endif %}
  </div>

  <div class="member__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="member__urls social-icons">
      {% if member.email %}
        <li><a href="mailto:{{ member.email }}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if member.github %}
        <li><a href="https://github.com/{{ member.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
    </ul>
  </div>
</div>
